@import "vars.scss";
@import "fonts.scss";
@import "global.scss";
@import "tablet-640.scss";
@import "tablet-768.scss";
@import "tablet-1024.scss";
@import "tablet-1440.scss";

.header {
  &__inner {
    // margin-top: 11px;
    margin: 11px auto;
  }
  &__menu-logo {
    margin-left: 42px;
  }
  &__menu-items,
  &__menu-button {
    display: none;
  }
  &__menu {
    height: 60px;
    margin-bottom: 65px;
  }
  &__img {
    margin: 0 auto;
    width: 218px;
    height: 115px;
    text-align: center;
    margin-bottom: 35px;
  }
  &__title {
    padding: 5px;
    margin-bottom: 40px;
    h2 {
      font-family: "Roboto-Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.slider {
  &__inner {
    margin: 0 auto;
    max-width: 176px;
    margin-bottom: 80px;
  }
  &__items {
    text-align: center;
  }
  &__inner-image {
    margin-bottom: 20px;
  }
  &__inner-text {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 5px;
    margin-bottom: 60px;
    color: #2e3a59;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0;
}

.slick-dots li + li {
  margin-left: 16px;
}

.slick-dots li button::before {
  width: 8px;
  height: 8px;
  content: "";
  opacity: 1;
  background-color: #e7ebf0;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  background-color: #a6abbd;
}

.slick-arrow {
  top: auto;
  bottom: -15px;
}

.slick-prev {
  left: 5px;
}
.slick-next {
  right: 5px;
}

.slick-prev:before,
.slick-next:before {
  color: transparent;
}

.accordeon {
  background-color: #f8fbff;
  &__title {
    padding-top: 60px;
  }
  &__item-title {
    position: relative;
    cursor: pointer;
    &::after {
      content: url("../images/arrow-down.svg");
      position: absolute;
      width: 19px;
      height: 11px;
      background-color: #fff;
      top: 0;
      right: 0;
    }
  }
  &__item-text {
    display: none;
  }
  &__item.accordeon__item-active {
    .accordeon__item-title::after {
      transform: rotate(180deg);
    }
    .accordeon__item-text {
      display: block;
    }
  }
}
