@import "vars.scss";
@import "fonts.scss";
@import "global.scss";
@import "tablet-640.scss";
@import "tablet-768.scss";
@import "tablet-1024.scss";
@import "tablet-1440.scss";

.header {
  &__inner {
    // margin-top: 11px;
    margin: 11px auto;
  }
  &__menu-logo {
    margin-left: 42px;
  }
  &__menu-items,
  &__menu-button {
    display: none;
  }
  &__menu {
    height: 60px;
    margin-bottom: 65px;
  }
  &__img {
    margin: 0 auto;
    width: 218px;
    height: 115px;
    text-align: center;
    margin-bottom: 35px;
  }
  &__title {
    padding: 5px;
    margin-bottom: 40px;
    h2 {
      font-family: "Roboto-Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.slider {
  &__inner {
    margin: 0 auto;
    max-width: 176px;
  }
  &__items {
    text-align: center;
  }
  &__inner-image {
    margin-bottom: 20px;
  }
  &__inner-text {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 5px;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0;
}

.slick-dots li + li {
  margin-left: 16px;
}

.slick-dots li button::before {
  width: 8px;
  height: 8px;
  content: "";
  opacity: 1;
  background-color: #e7ebf0;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  background-color: #a6abbd;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -15px;
}
