@import "vars.scss";
@import "fonts.scss";
@import "global.scss";

.header {
  &__inner {
    margin: 11px auto;
  }
  &__menu-logo {
    margin-left: 42px;
  }
  &__menu-items,
  &__menu-button {
    display: none;
  }
  &__menu {
    height: 60px;
    margin-bottom: 65px;
  }
  &__img {
    margin: 0 auto;
    width: 218px;
    height: 115px;
    text-align: center;
    margin-bottom: 35px;
  }
  &__title {
    padding: 5px;
    margin-bottom: 40px;
    h2 {
      font-family: "Roboto-Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.slider {
  &__inner {
    margin: 0 auto;
    max-width: 176px;
    margin-bottom: 80px;
  }
  &__items {
    text-align: center;
  }
  &__inner-image {
    margin-bottom: 20px;
  }
  &__inner-text {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 5px;
    margin-bottom: 60px;
    color: $text-color;
  }
}

.slick-slide img {
  margin: 0 auto;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  margin: 0;
}

.slick-dots li + li {
  margin-left: 16px;
}

.slick-dots li button::before {
  width: 8px;
  height: 8px;
  content: "";
  opacity: 1;
  background-color: #e7ebf0;
  border-radius: 50%;
}

.slick-dots li.slick-active button::before {
  background-color: #a6abbd;
}

.slick-arrow {
  top: auto;
  bottom: -15px;
}

.slick-prev {
  left: 5px;
}
.slick-next {
  right: 5px;
}

.slick-prev:before,
.slick-next:before {
  color: transparent;
}

.accordeon {
  background-color: #f8fbff;
  &__title {
    padding-top: 60px;
    position: relative;
    h3 {
      font-family: "Roboto-Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      padding: 5px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 184px;
      height: 4px;
      top: 45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $accent;
    }
  }
  &__inner {
    padding-bottom: 10px;
  }
  &__items {
    margin: 15px auto;
    max-width: 300px;
  }
  &__item {
    margin-top: 5px;
  }
  &__text {
    margin-top: 30px;
    padding: 5px 20px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $text-color;
  }
  &__item-title {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 269px;
    padding: 5px 60px 5px 5px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e7ebf0;
    &::after {
      content: url("../images/arrow-down.svg");
      position: absolute;
      width: 19px;
      height: 11px;
      background-color: #fff;
      top: 18px;
      right: 0;
    }
  }
  &__item-text {
    display: none;
    width: 269px;
    padding: 5px 50px 5px 5px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
  }
  &__item.accordeon__item-active {
    .accordeon__item-title::after {
      transform: rotate(180deg);
    }
    .accordeon__item-text {
      display: block;
      border-bottom: 1px solid #e7ebf0;
    }
    .accordeon__item-title {
      color: $accent;
      border-bottom: none;
    }
  }
}

.article {
  &__item {
    margin: 0 auto;
  }
  &__title {
    padding-top: 60px;
    position: relative;
    margin-bottom: 54px;
    h3 {
      font-family: "Roboto-Bold";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      padding: 5px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 184px;
      height: 4px;
      top: 45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $accent;
    }
  }
  &__item-image {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: -42px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__item {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 288px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    padding-bottom: 10px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 26px;
    }
    &::before {
      background-image: url("../images/quotes-left.svg");
      top: 24px;
      left: 16px;
    }
    &::after {
      background-image: url("../images/quotes-right.svg");
      top: 24px;
      right: 16px;
    }
  }
  &__item-text {
    padding: 80px 16px 20px 16px;
    font-family: "Roboto-Regular";
    font-weight: 400;
  }
  &__item-author {
    display: inline-block;
    font-family: "Roboto-Bold";
    font-weight: 700;
    padding: 5px 5px;
  }
  &__comments {
    margin: 30px auto;
    max-width: 288px;
  }
  &__comments-item {
    margin-bottom: 20px;
  }
  &__comments-image {
    display: inline-block;
    vertical-align: top;
    img {
      width: 60px;
      height: 60px;
      padding-top: 5px;
    }
  }
  &__comments-text {
    display: inline-block;
    width: 207px;
    padding: 5px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-align: left;
  }
  &__comments-author {
    display: block;
    font-family: "Roboto-Bold";
    font-weight: 700;
    padding: 5px;
  }
  &__comments-item:nth-child(odd) {
    direction: ltr;
  }
  &__comments-item:nth-child(even) {
    direction: rtl;
  }
}

@import "tablet-768.scss";
@import "tablet-1024.scss";
@import "tablet-1440.scss";
