@import "vars.scss";
@import "fonts.scss";

@media (min-width: 768px) {
  .header {
    background-color: #fff;
    &__inner {
      padding: 30px 14px 23px 47px;
      margin: 0 auto;
    }
    &__menu-logo {
      margin-left: 0;
      display: inline-block;
      img {
        width: 220px;
      }
    }
    &__menu-list {
      a {
        display: block;
        padding: 4px 14px;
      }
      li {
        display: inline-block;
        margin-left: 8px;
        color: $menu-color;
        font-family: "Roboto-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $menu-color;
        background-color: transparent;
        :hover {
          background-color: $accent;
          box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
          border-radius: 8px;
          color: #fff;
        }
      }
    }
    &__menu {
      min-height: 60px;
      margin-bottom: 5px;
    }
    &__menu-items,
    &__menu-button {
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
    }
    &__menu-items {
      margin-left: 10px;
    }
    &__menu-button {
      margin-left: 10px;
      button {
        width: 60px;
        height: 32px;
        background-color: transparent;
        color: #fff;
        outline: none;
        background-color: $accent;
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
        border-radius: 8px;
        text-align: center;
        border: none;
        cursor: pointer;
      }
    }
  }
  .top {
    background: linear-gradient(
      111.04deg,
      #e2e2e2 0.39%,
      rgba(255, 255, 255, 0) 86.46%
    );
    &__title {
      padding-top: 50px;
      position: relative;
      h2 {
        font-size: 30px;
        line-height: 37px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 184px;
        height: 4px;
        top: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $accent;
      }
    }
    &__img {
      display: none;
    }
    &__items {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    &__item {
      display: inline-block;
    }
    &__item-1,
    &__item-2,
    &__item-3,
    &__item-5,
    &__item-6,
    &__item-7 {
      width: 130px;
      margin: 0 50px;
    }
    &__item-3,
    &__item-5 {
      margin: 0;
      margin-left: 20px;
    }
  }

  .slider {
    display: none;
  }
}
