@import "vars.scss";
@import "fonts.scss";

@media (min-width: 1024px) {
  .header {
    &__menu-list {
      margin-left: 70px;
      margin-right: 150px;
    }
  }

  .top {
    min-height: 750px;
    &__title {
      margin-bottom: 20px;
    }
    &__item {
      display: inline-block;
      width: 250px;
      margin: 0 50px;
    }
    &__item-3 {
      margin-right: 180px;
    }
    &__item-5 {
      margin-left: 180px;
    }
  }
  .accordeon {
    &__item-title,
    &__item-text {
      width: 500px;
    }
    &__item-title {
      padding: 5px 60px 10px 5px;
    }
  }

  .article {
    &__item {
      min-width: 600px;
    }
    &__comments-text {
      width: 230px;
    }
  }
}
