@import "vars.scss";
@import "fonts.scss";

@media (min-width: 768px) {
  .header {
    background-color: #fff;
    &__inner {
      padding: 30px 14px 23px 47px;
      margin: 0 auto;
    }
    &__menu-logo {
      margin-left: 0;
      display: inline-block;
      img {
        width: 220px;
      }
    }
    &__menu-list {
      a {
        display: block;
        padding: 4px 14px;
      }
      li {
        display: inline-block;
        margin-left: 8px;
        color: $menu-color;
        font-family: "Roboto-Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $menu-color;
        background-color: transparent;
        :hover {
          background-color: $accent;
          box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
          border-radius: 8px;
          color: #fff;
        }
      }
    }
    &__menu {
      min-height: 60px;
      margin-bottom: 35px;
    }
    &__menu-items,
    &__menu-button {
      display: inline-block;
      vertical-align: top;
      margin-top: 18px;
    }
    &__menu-items {
      margin-left: 10px;
    }
    &__menu-button {
      margin-left: 10px;
      button {
        width: 60px;
        height: 32px;
        background-color: transparent;
        color: #fff;
        outline: none;
        background-color: $accent;
        box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
        border-radius: 8px;
        text-align: center;
        border: none;
        cursor: pointer;
      }
    }
  }

  .slider {
    display: none;
  }
}
